<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> <%- include('../partials/nav.ejs')
    %>

    <div class="content">
      <div class="content-box">
        <div class="content-box-top">
          <div class="content-box-heading">
              <h3 class="title"><%= blog.bookTitle %></h3>
              </a>
            <h2 class="author"><%= blog.author %></h2>
          </div>
          <div class="thumbnail">
            <img
              class="title-banner-image"
              src="../images/test-image-opt.svg"
              alt="An image of some stylized purple outlined trees on a dark landscape."
            />
          </div>
        </div>
        <div class="blog-snippet"><%= blog.blogContent %></div>
        <div class="delete-button">
          <a class="delete" data-doc="<%= blog.id %>"> DELETE BLOG! </a>
        </div>
      </div>
    </div>  
    <script>
      const trashcan = document.querySelector("a.delete");

      trashcan.addEventListener("click", (e) => {
        const endpoint = `/blogs/${trashcan.dataset.doc}`;

        fetch(endpoint, {
          method: "DELETE",
        })
        .then((response) => response.json())
        .then((data) => (window.location.href = data.redirect)) 
        .catch((err) => {
          console.log(err);
        });  
      });
    </script>
  </body>
</html> 
