<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> <%- include('../partials/nav.ejs') %> 
    <div class="content">
      <h2 class="page-title">Edit post here!</h2>
      <div class="content-box">
        <form action="/blogs/edit/<%= blog.id %>" method="POST" id="edit-blog">

            <div class="form-row">
              <label for="bookTitle" class="label">Book Title</label>

              <input
                id="bookTitle"
                name="bookTitle"
                type="text"
                required="required" 
                value= "<%= blog.bookTitle %>"
              />
            </div>

          <div class="form-row">
            <label for="author" class="label">Author</label>

            <input
              id="author"
              name="author"
              type="text"
              value= "<%= blog.author %>"
              required="required"
            />
          </div>
  
<!-- TO DO: change date input value to show current date -->
          <div class="form-row">
            <label for="dateStarted">Started:</label>
            <input
            id="dateStarted"
            name="dateStarted"
            type="date"
            <% if (blog.dateStarted !== "") { %> 
              value="<%= blog.dateStarted %>"
              <% } else { %> 
                value="2021-10-15"
              <% }  %> 
            min="1992-11-16"
            max="2092-11-16"
            />
          </div>

          <div class="form-row">
            <label for="dateFinished">Finished:</label>
            <input
            id="dateFinished"
            name="dateFinished"
            type="date"
            <% if (blog.dateFinished !== "") { %> 
              value="<%= blog.dateFinished %>"
              <% } else { %> 
                value="2021-10-15"
              <% }  %> 
            min="1992-11-16"
            max="2092-11-16"
            />
          </div>

          <div class="form-row-full">
            <fieldset>
                <legend>Tags:</legend>
                <% const tagList = blog.tags %> 
              <div class="tag-option">
                <input type="checkbox" id="sci-fi-fantasy" name="tags" value="sci-fi-fantasy"
                <% if(tagList.includes("sci-fi-fantasy")){ %>
                  checked="true"
                <% } %> 
                >
                <label for="sci-fi-fantasy">Sci-fi / Fantasy</label>
              </div>
              <div class="tag-option">
                <input type="checkbox" id="informative" name="tags" value="informative"
                <% if(tagList.includes("informative")){ %>
                  checked="true"
                <% } %> >
                <label for="informative">Informative</label>
              </div>
              <div class="tag-option">
                <input type="checkbox" id="fiction" name="tags" value="fiction"
                <% if(tagList.includes("fiction")){ %>
                  checked="true"
                <% } %> 
                >
                <label for="fiction">Fiction</label>
              </div>
              <div class="tag-option">
                <input type="checkbox" id="short-story" name="tags" value="short-story"
                <% if(tagList.includes("short-story")){ %>
                  checked="true"
                <% } %> 
                >
                <label for="short-story">Short Story</label>
              </div>
              <div class="tag-option">
                <input type="checkbox" id="non-fiction" name="tags" value="non-fiction"
                <% if(tagList.includes("non-fiction")){ %>
                  checked="true"
                <% } %> 
                >
                <label for="non-fiction">Non-Fiction</label>
              </div>
              <div class="tag-option">
                <input type="checkbox" id="biography" name="tags" value="biography"
                <% if(tagList.includes("biography")){ %>
                  checked="true"
                <% } %> 
                >
                <label for="biography">Biography</label>
              </div>
              <div class="tag-option">
                <input type="checkbox" id="classical" name="tags" value="classical"
                <% if(tagList.includes("classical")){ %>
                  checked="true"
                <% } %> 
                >
                <label for="classical">Classical</label>
              </div>
            </fieldset>
          </div> 


          <div class="form-row-full">
            <label for="blogContent" class="label"
              >Your Thoughts on the Book:</label
            >
            </div>

            <textarea 
            id="blogContent" 
            name="blogContent"
            spellcheck="true"
            required="required"><%= blog.blogContent %></textarea>

          </form>
          <button form="edit-blog">Update!</button>
      </div>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>