<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> <%- include('../partials/nav.ejs') %> 
    <div class="content">
      <h2 class="page-title">Edit post here!</h2>
      <div class="form-container">
        <form action="/blogs/edit/<%= blog.id %>" method="POST">

            <div class="form-row">
              <label for="bookTitle" class="label">Book Title</label>
              <input
                id="bookTitle"
                name="bookTitle"
                type="text"
                required="required" 
                value= "<%= blog.bookTitle %>"
              />
            </div>

          <div class="form-row">
            <label for="author" class="label">Author</label>
            <input
              id="author"
              name="author"
              type="text"
              value= "<%= blog.author %>"
              required="required"
            />
          </div>
  
          <!-- <div class="form-row">
            <label for="startDate" class="label">Started: </label>
            <input
              id="startDate"
              name="startDate"
              type="date"
              value="2021-10-15"
              min="1992-11-16"
              max="2092-11-16"
              value= "<%# blog.startDate %>"
              required="required"
            />
          </div>


          <div class="form-row">
            <label for="endDate" class="label">Finished: </label>
            <input
              id="endDate"
              name="endDate"
              type="date"
              value="2021-10-15"
              min="1992-11-16"
              max="2092-11-16"
              value= "<%# blog.endDate %>"
              required="required"
            />
          </div>

          <div class="form-row">
            <label for="tag" class="label">Tags</label>
            <input
              id="tags"
              name="tags"
              type="checkbox"
              required="required"
            />
          </div> -->


          <div class="form-row">
            <label for="blogContent" class="label"
              >Your Thoughts on the Book:</label
            >
            <textarea 
            id="blogContent" 
            name="blogContent"   
            value= "<%= blog.blogContent %>" 
            required="required">
            </textarea>
          </div>

          <div class="form-row form-button">
            <button id="update-blog-button">Update!</button>
          </div>

        </form>
      </div>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>