<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> <%- include('../partials/nav.ejs')
    %>

    <div class="content">
      <h2 class="page-title">All Blogs</h2>
      <% if (blogs.length > 0) { for (var i = 0; i < blogs.length; i++ ) { %>
      <div class="content-box">
        <div class="content-box-top">
          <div class="content-box-heading">
            <a class="title" href="/blogs/<%= blogs[i].id %>">
              <h1 class="title"><%= blogs[i].bookTitle %></h1>
            </a>
            <h3 class="author">by
              <a class="authorLink" href="/categories/<%= blogs[i].author %>">
                <%= blogs[i].author %>
              </a>
              </h3>
            <div class="edit-button-container">
              <a class="edit" href="/blogs/edit/<%= blogs[i].id %>">
                <img 
                  class="edit-button-image"
                  src="../../images/edit-opt.svg"
                  alt="An icon depicting a pencil, with directs to the edit blog page."
                />
              </a>
            </div>
          </div>
          <div class="thumbnail">
            <img
              class="title-banner-image"
              src="./images/test-image-opt.svg"
              alt="An image of some stylized purple outlined trees on a dark landscape."
            />
          </div>
        </div>

        <div class="blog-snippet"><%= blogs[i].blogContent %></div>
      </div>
      <% } } else { %>
      <p>There are no blogs to display.</p>
      <% } %>
    </div>
  </body>
</html>