<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> <%- include('../partials/nav.ejs')
    %>

    <div class="content">
      <!-- <h2 class="page-title">All Blogs</h2> -->
      <% if (blogs.length > 0) { for (var i = 0; i < blogs.length; i++ ) { %>
        <div class="content-box">
          <div class="top-container">
            <div class="card-col card-col-1">
              <div class="card-line">
                <a class="title" href="/blogs/blogDetails/<%= blogs[i].id %>">
                  <h1 class="title"><%= blogs[i].bookTitle %></h1>
                </a>

                <a class="edit" href="/blogs/editBlog/<%= blogs[i].id %>">
                  <img 
                    class="edit-button-image"
                    src="../../images/edit-opt.svg"
                    alt="An icon depicting a pencil, with directs to the edit blog page."
                  />
                </a>

              </div>

              <div class="card-line">
                <p class="author">by
                  <a class="authorLink" href="/categories/author/<%= blogs[i].authorID %>">
                    <%= blogs[i].author %>
                  </a>
                </p>
                
                <a class="edit" href="/categories/editAuthor/<%= blogs[i].authorID %>">
                  <img 
                    class="edit-button-image"
                    src="../../images/edit-opt.svg"
                    alt="An icon depicting a pencil, with directs to the edit blog page."
                  />
                </a>
              </div>
  
              <div class="card-line date-space">
                <div class="dateStarted">
                  <p class="date-label">Started:</p>
                  <p class="date-value"> 
                    <%= blogs[i].dateStarted %>
                  </p>
                </div>
              <!-- </div>

              <div class="card-line"> -->
                <div class="dateFinished">
                  <p class="date-label">Finished:</p>
                  <p class="date-value"> 
                    <% if (blogs[i].dateFinished === "") { %> 
                      <%= "Currently Reading" %> 
                      <%# console.log(blogs[i].dateFinished) %> 
                    <% } else { %> 
                      <%= blogs[i].dateFinished %>
                    <% } %> 
                  </p>
                </div>
              </div>

              <div class="card-line tags">
                <p class="tags-label">Tags:</p>
                  <% if (blogs[i].tags.length === 0) { %> 
                   <p class="tags-value">
                     <%= "No Tags" %> 
                   </p> 
                  <% } else { %> 
                    <% let tagsObject = blogs[i].tags %>
                    <% let tagsArray = [] %>
                    <% for (const tag in tagsObject) { %>
                      <% tagsArray.push(tagsObject[tag]) %>
                      <% } %>
                      <% tagsArray.forEach((tag) => { %>
                        <a class="tags-value" href="/categories/tagDetails/<%= tag %>">
                          <%= tag %>
                          <%# tagsArray.join(', ') %>
                        </a>
                      <% }) %> 
                  <% } %> 
                
              </div>

            </div>
            <div class="card-col card-col-2">
              <img
                class="stock-image"
                src="./images/test-image-opt.svg"
                alt="An image of some stylized purple outlined trees on a dark landscape."
              />
            </div>
          </div>
          <div class="card-line-full">
            <div class="blog-snippet"><%= blogs[i].blogContent %></div>
          </div>
        </div>
      <% } } else { %>
      <p>There are no blogs to display.</p>
      <% } %>
    </div>
  </body>
</html>