<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> <%- include('../partials/nav.ejs')
    %>

    <div class="content">
      <h2 class="page-title">All Blogs</h2>
      <% if (blogs.length > 0) { for (var i = 0; i < blogs.length; i++ ) { %>
        <div class="content-box">
          <div class="top-container">
            <div class="card-col card-col-1">
              <div class="card-line">
                <a class="title" href="/blogs/blogDetails/<%= blogs[i].id %>">
                  <h1 class="title"><%= blogs[i].bookTitle %></h1>
                </a>

                <a class="edit" href="/blogs/editBlog/<%= blogs[i].id %>">
                  <img 
                    class="edit-button-image"
                    src="../../images/edit-opt.svg"
                    alt="An icon depicting a pencil, with directs to the edit blog page."
                  />
                </a>

              </div>

              <div class="card-line">
                <h3 class="author">by
                  <a class="authorLink" href="/categories/author/<%= blogs[i].authorID %>">
                    <%= blogs[i].author %>
                  </a>
                </h3>
                <a class="edit" href="/categories/editAuthor/<%= blogs[i].authorID %>">
                  <img 
                    class="edit-button-image"
                    src="../../images/edit-opt.svg"
                    alt="An icon depicting a pencil, with directs to the edit blog page."
                  />
                </a>
              </div>
  
              <div class="card-line">
                <p class="dateStarted">Started:
                  <%= blogs[i].dateStarted %>
                </p>
              </div>

              <div class="card-line">
                <p class="dateFinished">Finished:
                  <% if (blogs[i].dateFinished === "") { %> 
                    <%= "Currently Reading" %> 
                    <%# console.log(blogs[i].dateFinished) %> 
                  <% } else { %> 
                    <%= blogs[i].dateFinished %>
                  <% } %> 
                </p>
              </div>

              <div class="card-line">
                <p class="tags">Tags:
                  <% if (blogs[i].tags.length === 0) { %> 
                    <%= "No Tags" %> 
                  <% } else { %> 
                    <% let tagsObject = blogs[i].tags %>
                    <% let tagsArray = [] %>
                    <% for (const tag in tagsObject) { %>
                      <% tagsArray.push(tagsObject[tag]) %>
                      <% } %>
                      <%= tagsArray.join(', ') %>
                  <% } %> 
                </p>
              </div>

            </div>
            <div class="card-col card-col-2">
              <img
                class="title-banner-image"
                src="./images/test-image-opt.svg"
                alt="An image of some stylized purple outlined trees on a dark landscape."
              />
            </div>
          </div>
          <div class="card-line-full">
            <div class="blog-snippet"><%= blogs[i].blogContent %></div>
          </div>
        </div>
      <% } } else { %>
      <p>There are no blogs to display.</p>
      <% } %>
    </div>
  </body>
</html>