<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> <%- include('../partials/nav.ejs')
    %>

    <div class="content">
      <div class="content-box">
        <div class="content-box-top">
          <div class="content-box-heading">
              <h1 class="title"><%= author.name %></h1>
              <h1 class="title"><%= author.id %></h1>
              <div class="edit-button-container">
                <a class="edit" href="/categories/editAuthor/<%= author.id %>">
                  <img 
                    class="edit-button-image"
                    src="../../images/edit-opt.svg"
                    alt="An icon depicting a pencil, with directs to the edit author page."
                  />
                </a>
              </div>
        </div>
        <div>


          <h3>Books Written: </h3>

            <% const booksArray = author.booksWritten %>
            <!-- <p>
              <%# booksArray %> 
            </p> -->
            <% if (booksArray.length > 0) { %>

              <% for (var i = 0; i < booksArray.length; i++ ) { %> 


                  <p>
                     blogs = <%= blogs %>
                     <% console.log(blogs) %>
                  </p>

                  <% if ( true == true) { %>

                    <p> 
                      blog =
                      <a class="bookLink" href="/blogs/<%# blog.id %>  ">
                          <%= booksArray[i] %> 
                      </a>
                    </p>

                  <% } %>


            <% }%>
            <% } else { %>
              <p>There are no blogs to display.</p>
            <% } %>


        </div>
      </div>
    </div> 
  </body>
</html> 
