<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> <%- include('../partials/nav.ejs')
    %>

    <div class="content">
      <div class="content-box">
          <div class="top-container">

              <h1 class="title"><%= author.name %></h1>
              <a class="edit" href="/categories/editAuthor/<%= author.authorID %>">
                <img 
                  class="edit-button-image"
                  src="../../images/edit-opt.svg"
                  alt="An icon depicting a pencil, with directs to the edit author page."
                />
              </a>
          </div>

          <div class="bottom-box">
            <h2 class="book-list-title">Books Written: </h2>
            <div class="book-list">
              <% const booksArray = author.booksWritten %>
                <% for (var i = 0; i < blogs.length; i++ ) { %> 
                  <% if ( blogs[i].author == author.name) { %>
                    <div class="book-list-item">
                      <a class="bookLink" href="/blogs/blogDetails/<%= blogs[i].id %>  ">
                        <%= blogs[i].bookTitle %>
                      </a>
                    </div>
                  <% } %> 
                <% } %> 
            </div>
        </div>
        <div class="card-line-full">
          <div class="about-author">
            <%# author.aboutAuthor %>
            <% if (author.aboutAuthor !== "") { %> 
              <% const reg = /\n/ %>
              <% let aboutAuthor = author.aboutAuthor.split(reg) %> 
              <% aboutAuthor.forEach((snip) => { %>
                <p class="snips">
                  <%= snip %> 
                </p>
            <% }) %> 
            <% } else { %>
              <p class="no-snips">Please add information about this author.</p>
              <% } %>  
          </div>
        </div>

    </div> 
  </body>
</html> 
