<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> <%- include('../partials/nav.ejs')
    %>

    <div class="content">
      <div class="content-box">
        <div class="content-box-top">
          <div class="content-box-heading">
              <h1 class="title"><%= author.name %></h1>
              <div class="edit-button-container">
                <a class="edit" href="/categories/editAuthor/<%= author.authorID %>">
                  <img 
                    class="edit-button-image"
                    src="../../images/edit-opt.svg"
                    alt="An icon depicting a pencil, with directs to the edit author page."
                  />
                </a>
              </div>
        </div>
        <div>
          <h3>Books Written: </h3>

            <% const booksArray = author.booksWritten %>

              <% for (var i = 0; i < blogs.length; i++ ) { %> 
                <% if ( blogs[i].author == author.name) { %>
                  <%= console.log(blogs[i].author, author.name);  %> 

                <a class="bookLink" href="/blogs/<%= blogs[i].id %>  ">
                  <h3>
                    <%= blogs[i].bookTitle %>
                      </h3>
                    </a>
                    <% } %> 
              <% } %> 


        </div>
      </div>
    </div> 
  </body>
</html> 
