<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> <%- include('../partials/nav.ejs') %> 
    <div class="content">
      <div class="content-box">


        <form action="/categories/edit/<%= author.name %>" method="POST" id="edit-author-data"> 
          <h1><%= author.name %></h1>
          <div class="form-row-full">
            <p class="booksWritten">Books Written:  
              
              <% if (author.booksWritten.length === 0) { %> 
                <p class="books">
                  <%= "No books written by this author." %> 
                </p> 
              <% } else { %> 

                <%= author.booksWritten.join(', ') %> 

              <% } %> 
              </p>
              <%# author.booksWritten %> 
            
          </div>

          <div class="form-row-full">
            <label for="aboutAuthor" class="label">Your Thoughts on the Author:</label>
          </div>
            <textarea 
            id="aboutAuthor" 
            name="aboutAuthor"   
            spellcheck="true"
            required="required"><%= author.aboutAuthor %></textarea>

        </form>
        <button form="edit-author-data">Update!</button>

      </div>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>